<% include partials/header %>

    <div class="container">
        <header class="jumbotron p-5">
            <h1>Welcome to YelpCamp</h1>
            <p>View our curated camps from all around the world</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg">
                    Add New Campground
                </a>
            </p>
        </header>
    
        <div class="row">
            <% campgrounds.forEach((campground) => { %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.name %></h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, labore?</p>
                            <a href="/campgrounds" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    
<% include partials/footer %>