<% include partials/header %>

    <h1>Campgrounds Page</h1>

    <h3>Welcome to Campgrounds</h3>

    <% campgrounds.forEach((campground) => { %>
        <div>
            <h4><%= campground.name %></h4>
            <img src="<%= campground.image %>" width="450">
        </div>
    <% }); %>

    <li><a href="/">Home</a></li>
    <li><a href="/campgrounds">View All campgrounds</a></li>
    <li><a href="/campgrounds/new">Add a campground</a></li>

<% include partials/footer %>