<% include partials/header %>

    <h1>YelpCamp Landing Page</h1>

    <p>Welcome to YelpCamp</p>

    <li><a href="/">Home</a></li>
    <li><a href="/campgrounds">View All campgrounds</a></li>
    <li><a href="/campgrounds/new">Add a campground</a></li>

<% include partials/footer %>