<% include partials/header %>

    <h1>YelpCamp Landing Page</h1>

    <p>Welcome to YelpCamp</p>

    <a href="/">Home</a>
    <a href="/campgrounds">View All campgrounds</a>

<% include partials/footer %>