<% include partials/header %>

    <div class="container">
        <header class="jumbotron p-5">
            <h1>YelpCamp Landing Page</h1>
            <p>Welcome to YelpCamp</p>
        </header>
    </div>

<% include partials/footer %>