<% include partials/header %>

    <div class="container">
        <header class="jumbotron p-5">
            <h1>The Hottest Spots Around Rutherford</h1>
            <p>Restaurants, Coffee Shops, Shopping, and more</p>
        </header>
    </div>

<% include partials/footer %>