<% include partials/header %>

    <!-- <div class="container"> -->
        <header id="homepage-header" class="d-flex justify-content-center align-items-center">
            <div id="homepage-header__text">
                <h1>The Hottest Spots Around Rutherford</h1>
                <p>Restaurants, Coffee Shops, Shopping, and more</p>
                <p>
                    <a href="/spots" class="btn btn-primary btn-lg">
                        View Spots
                    </a>
                </p>
            </div>
        </header>
    <!-- </div> -->

<% include partials/footer %>