<% include partials/header %>

    <div class="container text-center">
        <header class="jumbotron p-5 text-center">
            <h1><%= spot.name %></h1>
            <p><%= spot.description %></p>
        </header>
        <img src="<%= spot.image %>">
    </div>

<% include partials/footer %>